/*{
  padding: 20px;
  margin:auto;
  box-sizing: border-box;
}*/


.App-link {
  color: #61dafb;
}


img{
  width:350px;
  height: auto;
 /* object-fit: contain;
  margin-bottom: 7px;*/
}

span
{
  font-style: italic;
}

h5
{
  text-align: center;
}





/*body
  /*background-color:#4B4746 !important;*/
  /*background-image: url("https://i.pinimg.com/originals/ee/66/4d/ee664d4b0a6aae6dbb6ab3d0753a04ee.jpg");
 /* background-repeat: no-repeat;
  background-size: cover;*/

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #065a79, #23d5ab);
    background-size: 800% 800%;
    animation: gradient 15s ease infinite;
    height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .morceau
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
}
.morceau:hover
{
  border: 1px solid;
  border-color: var(--Couleur2)
}

.informationMorceau
{
  font-size: 1em;
}

.infoUser
{
  display: flex;
  justify-content: space-around;
}

.photoProfil
{
  width: 50%;
}

.detailProfil
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.card
{
  margin-top: 30px;
 margin-left: 100px;
  width: 400px;
  height:auto;
} 

.card:hover
{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.nav
{
  width:200px;
}


/* Widget LAST.FM */

.morceau
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
}
.morceau:hover
{
  border: 1px solid;
  border-color: var(--Couleur2)
}

.informationMorceau
{
  font-size: 1em;
}

.infoUser
{
  display: flex;
  justify-content: space-around;
}

.photoProfil
{
  width: 80%;
}

.photoProfil2
{
  width: 200px;
  height: 200px;
}

.detailProfil
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #065a79, #23d5ab);
  background-size: 800% 800%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}