

/*{
  padding: 20px;
  margin:auto;
  box-sizing: border-box;
}*/


.App-link {
  color: #61dafb;
}


img{
  width:400px;
  height: auto;
 /* object-fit: contain;
  margin-bottom: 7px;*/
}

span{
  font-style: italic;
}


h5{
  text-align: center;
}


body{
  /*background-color:#4B4746 !important;*/
  background-image: url("https://i.pinimg.com/originals/ee/66/4d/ee664d4b0a6aae6dbb6ab3d0753a04ee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.card{
  margin-top: 80px;
 margin-left: 100px;
  width: 400px;
  height:auto;
} 


.nav{
  width:200px;
}

